on: [push, pull_request]
name: Test
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@v4
      with:
        go-version: stable
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Test
      run: TESTS=all GOEXPERIMENT=loopvar go test -tags portable -timeout=1h -v -bench=. ./...
